# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude sensitive vars
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override directories
!override.tf/
!override.tf.json/
!*_override.tf/
!*_override.tf.json/

# Include CLI configuration files
.terraformrc
terraform.rc

# Local binaries and licenses
terraform
packer-bin
LICENSE.txt

# Packer secrets
packer/packer.pkrvars.hcl

# Ansible virtual environment
ansible/venv/


